<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Chicken</title>
</head>

<body>
  <header>
    <a href="index.html"> CAS</a>
  </header>

  <header>
    <h1>Cosmopolitan Chicken Project</h1>
    <h3>Fusionando Culturas y rompiendo barreras</h3>
  </header>
  <section>
    <h2>Koen Vanmechelen</h2>

    <p>Koen Vanmechelen es un artista contemporáneo belga nacido el 15 de marzo de 1965 en Sint-Truiden, Bélgica. Es
      conocido por su trabajo interdisciplinario que combina <strong>arte, ciencia y biología</strong>, y su obra se
      centra en la <strong> diversidad genética y cultural</strong>.</p>
    <img
      src="https://www.labiomista.be/sites/default/files/styles/set_wide/public/2019-06/%C2%A9KoenVanmechelen-1.jpg?h=d817b116&itok=ImxdDAGR">
    <p></p>

    <h2>Del pollo primal al <em>Súper Pollo</em> </h2>

    <h3><em>"En mi arte, quiero superar ese principio limitante y reflexionar sobre un nuevo tipo de evolución. El
        <u>Cosmopolitan Chicken </u> es el punto de partida para una nueva forma de evolución, una que nunca se detiene:
        un perpetuo movimiento de diversificación y combinación genética."</em></h3>
    <img
      src="https://www.labiomista.be/sites/default/files/styles/set_wide/public/2019-05/Against%20Exclusion.jpg?h=6f8e2d4a&itok=ToIdJuuZ">

    <p>Nada es lo que parece. En su núcleo, el proyecto <strong> no se trata de pollos ni huevos</strong>, sino más bien
      de la cruza y la <strong>diversidad</strong> que resulta de ella. El pollo cosmopolita <strong>nos
        refleja</strong>. La cruza no es solo una necesidad práctica, sino también filosófica, y quizás incluso un deber
      moral. Las razas de pollos actuales están en declive. Se necesita sangre nueva para evitar la endogamia y la
      degeneración, pues <em>"Cada organismo necesita a otro organismo para sobrevivir"</em>
    </p>
  </section>



</body>

</html>