<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <title>CAS</title>
  </head>
  
  <body>
    <header>
      <a href="../../index.html"> Index</a>
    </header>
    
    <header>
      <h1>Comida, Arte y Sociedad</h1>
    </header>

    <img src = "https://pbs.twimg.com/media/FDoxl7kXMAIyVfC.jpg:large">

<p>Bienvenido a un viaje único en el que la gastronomía se convierte en un lenguaje universal que une culturas, inspira el arte y transforma la sociedad. En esta plataforma, exploraremos la fascinante intersección entre la comida, el arte y la sociedad desde una perspectiva que llamamos <em> gastropolítica</em>. La gastropolítica nos invita a comprender cómo <strong>los alimentos no solo satisfacen nuestro hambre</strong>, sino que también reflejan nuestra <strong>identidad, historia y valores</strong>.</p>

<p>Acompáme a explorar la deliciosa y compleja relación entre la comida y la política, examinémos cómo los artistas utilizan los ingredientes como medio de expresión y analizamos cómo las decisiones alimentarias influyen en la sociedad. A lo largo de estas páginas, descubrirás historias que mezclan sabores, colores y texturas con la influencia cultural y el cambio social.</p>

<p>Prepárate para un festín de conocimiento donde los ingredientes son ideas, los platos son conversaciones y la mesa está dispuesta para todos <strong>¡Comencemos nuestro viaje en el mundo de la gastropolítica!</strong></p>


  <header>
      <a href = "./ubreB.html"> Ubre Blanca </a>
  </header>
  <header>
      <a href = "./chicken.html"> Cosmopolitan chicken project </a>
  </header>

    
  </body>

</html>