body {
  margin: 0;
  width: auto;
  height: ;
  margin-left: 50px;
}


.image-text {
  color: white;
  background-color: #269E82;
  border: 4px dashed #FCFC34;
  padding: 50px 30px;
  width: 800px;
  margin: 50px auto;
}

.image-text img {
  width: 120px;
  margin-right: 20px;
  float: left;
}

.image-text p {
  color: white;
  font-size: 12pt;
  text-align: justify;
  margin-left: 70px;
}

.homero {
  font-style: italic;
  text-decoration: underline;
  color: #FCFC34;
}

.homero:hover {
  color: #123456;
}