body {
  margin: 0;
  width: auto;
  height: ;
}

* {
  text-align: justify;
  margin-left: 80px;
  margin-right: 80px;
}


h1 {
  color: #15a085;
  font-weight: 100;
  text-align: center;
  font-size: 32pt;
}


h2 {
  color: #15a085;
  font-weight: 100;
}


li {
  text-align: left;
  font-size: 12pt;
  font-weight: 200;
  color: #000;
  line-height: 20px;
  list-style: none;
}


#ej li:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: -50px;
  background: url('https://cdn-icons-png.flaticon.com/512/1087/1087431.png') no-repeat left center;
  background-size: contain;

  content: '';
}

#hw li:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: -50px;
  background: url('https://cdn-icons-png.flaticon.com/512/6975/6975888.png') no-repeat left center;
  background-size: contain;

  content: '';
}

#section3 li:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: -50px;
  background: url('https://cdn-icons-png.flaticon.com/512/235/235425.png') no-repeat left center;
  background-size: contain;

  content: '';
}