<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Ejercicio</title>
  <link rel="icon" href="../../assets/img/egg-solid.svg">
  <link rel="stylesheet" type="text/css" href="../../assets/css/ej.css">
</head>

<body>
  <header>
    <a href="../../index.html"> Index</a>
  </header>

  <h2 id="titu1">Título</h2>

  <p class="p1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque debitis, corporis, iste inventore
    consequuntur
    consequatur reiciendis ea quidem perferendis quaerat ducimus necessitatibus ad! Exercitationem maiores dolore
    eaque porro assumenda itaque.</p>

  <p class="p2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque debitis, corporis, iste inventore
    consequuntur
    consequatur reiciendis ea quidem perferendis quaerat ducimus necessitatibus ad! Exercitationem maiores dolore
    eaque porro assumenda itaque.</p>

  <h2>Título 2</h2>

  <p class="p3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque debitis, corporis, iste inventore
    consequuntur
    consequatur reiciendis ea quidem perferendis quaerat ducimus necessitatibus ad! Exercitationem maiores dolore
    eaque porro assumenda itaque.</p>

  <p>Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta
    antítesis
    entre
    las dos figuras: <span class="homero">Homero como cantor de las gestas
      de los héroes</span>, Esopo como retratista de la plebe, de las
    debilidades
    humanas bajo aspecto de animales. En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna.
  </p>
</body>

</html>