<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Ej basic HTML</title>

  <link rel="" href="../../assets/img/bx-child.svg">
</head>

<body>
  <header>
    <a href="../../index.html"> Index</a>
  </header>
  <h1>Hola mundo</h1>
  <h2>Hola mundo</h2>
  <h3>Hola mundo</h3>
  <h4>Hola mundo</h4>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque <sub>debitis</sub>, corporis, iste inventore
    consequuntur consequatur reiciendis ea quidem <u>perferendis</u> quaerat ducimus necessitatibus ad! Exercitationem
    maiores dolore eaque porro assumenda itaque.</p>

  <img src="../../assets/img/smurf.jpg">
  <ol start="10" type="i">
    <li>Indice</li>
    <li>Intro</li>
    <li>Justificación</li>
  </ol>

  <ul>
    <li>Item1</li>
    <li>Item2</li>
    <li>Item3</li>
  </ul>

</body>

</html>