<!DOCTYPE html>
<html lang="es-Es">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/st_pjes.css">
  <title></title>
</head>

<body>
  <header>
    <a href="../../index.html"> Index </a>
  </header>

  <div>

    <img src="">
    <h2>Serena Tsukino</h2>
    <p>
      Es un personaje de ficción en la serie Sailor Moon y la protagonista principal. Es una alumna despreocupada que
      puede transformarse en la líder de facto de las heroínas principales de la serie, las Sailor Senshi.
    </p>


  </div>

  <div>

    <img src="">
    <h2>Darien Chiba</h2>
    <p>
      Es un personaje de ficción en la serie Sailor Moon y la protagonista principal. Es una alumna despreocupada que
      puede transformarse en la líder de facto de las Heroína principales de la serie, las Sailor Senshi.
    </p>


  </div>


  <div>
    <div>
      <h3>MACC</h3>
    </div>
    <div c>
      <div>
        <img
          src="https://images.unsplash.com/photo-1522030299830-16b8d3d049fe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80">
        <p>Luna Gutiérrez</p>
      </div>
      <div class="header2">
        <img src="">
        <p>Estudiante<br>
        </p>
      </div>
    </div>
  </div>
</body>

</html>