<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Fabula</title>
  <link rel="icon" href="../../assets/img/egg-solid.svg">
  <link rel="stylesheet" type="text/css" href="../../assets/css/fabula.css">
</head>

<body>
  <header>
    <a href="../../index.html"> Index</a>
  </header>

  <header>
    <h1>La lechera y su cántaro</h1>
    <h3>Fábula de Esopo</h3>
  </header>
  <section>
    <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/fabulas/images/webP/lecheraC.webp">

    <p class="align-right">Figura 1: La lechera y su cántaro</p>
    <p class="align-right">Tomado de: https://arbolabc.com/fabulas-para-ni%C3%B1os/la-lechera</p>


    <p>Había una vez una joven lechera que caminaba con un cántaro de leche para vender en el mercado del pueblo.
      Mientras caminaba pensaba en todas las cosas que haría con el dinero de la venta:</p>

    <p>—Cuando me paguen —se dijo—, compraré de inmediato unas gallinas, estas gallinas pondrán muchísimos huevos y los
      venderé en el mercado. Con el dinero de los huevos me compraré un vestido y zapatos muy elegantes. Luego, iré a la
      feria y como luciré tan hermosa, todos los chicos querrán acercarse a hablar conmigo.</p>

    <p>Por andar distraída con sus pensamientos, la lechera tropezó con una piedra y el cántaro se rompió derramando
      toda
      la leche. Con el cántaro destrozado se fueron las gallinas y los huevos; también el vestido y los zapatos.</p>

    <h2>Moraleja: Nuestros sueños y planes no deben apartarnos de la realidad.</h2></br></br>


    <h1>Otras fábulas de Esopo</h1>

    <ul>
      <li>El zorro y las uvas</li>
      <li>La tortuga y la liebre</li>
      <li>La hormiga y el escarabajo</li>
      <li>El asno y la carga de sal</li>
      <li>El lobo y las ovejas</li>
    </ul>

    <table>
      <thead>
        <th>Autor</th>
        <th>Fábulas</th>
      </thead>
      <tbody>
        <tr>
          <td>Rafael Pombo</td>
          <td>Renacuajo paseador </br>
            La pobre viejecita</td>
        </tr>
        <tr>
          <td>Jean La Fontaine</td>
          <td>El molinero </br>
            El zorro y el cuervo</td>
        </tr>
        <tr>
          <td>Tomás de Iriarte</td>
          <td>El burro flautista</br>
            La mona</td>
        </tr>
        <tr>
          <td>Rafael García Goyena</td>
          <td>La araña y el mosquito</br>
            El guarda y el loro</td>
        </tr>
      </tbody>
    </table>
  </section>

</body>

</html>